/* Get rid of default browser spacing */
body {
    margin: 0;
    /* Disable text selection, so it doesn't activate during drag and drop */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/************************************/
/* Toolbars */
/************************************/

.toolbar {
    height: 700px;
    width: 100px;
}

#player1_toolbar {
    float: left;
    background-color: yellow;
}

#player2_toolbar {
    float: left;
    background-color: blue;
}

#player3_toolbar {
    float: right;
    background-color: red;
}

#player4_toolbar {
    float: right;
    background-color: green;
}


/************************************/
/* header container */
/************************************/

#gameboard_container {
    /* float: left; */
    text-align: center;
    min-width: 300px;
}


#header_container {
    /* position: fixed; */
    background-color: #00ddcc;
    text-align: center;
    /* padding: 10px 0; */
}

/************************************/
/* Gameboard */
/* Using method 1 (floats) from project 1 part 2 */
/************************************/

#gameboard {
    padding: 20px 40px 50px 40px;
    /* This makes the outer div actually have a height, because it would be zero with two floated block elements */
    overflow: hidden;
    /* TODO: Make a min width so that the floated rows don't get all messed up */
    /* min-width: 500px; */
}

.gameboard-row {
    clear: both;
}

.gameboard-cell {
    float: left;
    /* Adjust cells so border looks nicer */
    margin: 0 -1px -1px 0;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: #eeeeee;
}

/************************************/
/* Tiles */
/************************************/

.piece {
    position: absolute;
}

.tile_row {
}

/* The CSS for a single tile unit */
.tile {
    width: 20px;
    height: 20px;
    border-width: 5px;
    border-style: solid;
    background-color: #ffffff;
    margin-bottom: 1px;
    margin-right: 1px;
    float: left;
}

/* Make a tile blank, but make sure it still takes up space */
/* "empty tile" */
.etile {
    visibility: hidden;
}



/************************************/
/* Toolbars */
/************************************/

#player1_toolbar .tile {
    border-color: #ccbb33;
}

#player2_toolbar .tile {
    border-color: #3388ee;
}

#player3_toolbar .tile {
    border-color: #ff6666;
}

#player4_toolbar .tile {
    border-color: #33ff33;
}


.toolbar {
    padding-left: 5px;
}







