/* Get rid of default browser spacing */
body {
    margin: 0;
    /* Disable text selection, so it doesn't activate during drag and drop */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/************************************/
/* Toolbars */
/************************************/

.toolbar {
    height: 600px;
    width: 100px;
}

#player1_toolbar {
    float: left;
    background-color: yellow;
}

#player2_toolbar {
    float: left;
    background-color: blue;
}

#player3_toolbar {
    float: right;
    background-color: green;
}

#player4_toolbar {
    float: right;
    background-color: red;
}


/************************************/
/* header container */
/************************************/

#gameboard_container {
    /* float: left; */
    text-align: center;
    min-width: 300px;
}


#header_container {
    /* position: fixed; */
    background-color: #00ddcc;
    text-align: center;
    /* padding: 10px 0; */
}

/************************************/
/* Gameboard */
/************************************/

#gameboard {
    display: inline-block;
}

/************************************/
/* Tiles */
/************************************/

/* The CSS for a single tile unit */
.tile {
    /* display: block; */
    position: absolute;
    width: 20px;
    height: 20px;
    border: 5px solid gray;
    background-color: white;
}

.tile_row {

}

.piece {

}




