.hidden {
    display: none;
}

/* Check this out. Awesome. */
/* http://css3buttongenerator.com/ */
.button {
    font-family: Courier New;
    color: #ffffff;
    font-size: 16px;
    background: #3498db;
    padding: 5px 15px;
    text-decoration: none;
    margin: 5px 0;
}

.button:hover {
    background: #3cb0fd;
    text-decoration: none;
}

input {
    margin: 5px 0;
}
